@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
  .btn {
    @apply rounded-lg px-6 py-2 font-bold shadow
  }

  .btn-primary {
    @apply bg-blue-600 text-white
  }

  .btn-secondary {
    @apply bg-slate-400
  }

  .btn-danger {
    @apply bg-red-500 text-white
  }
}